.navbar {
    background: var(--text-primary-color);
    height: var(--header-height);
    margin-top: 0;
    z-index: 20;
    position: sticky;
    top: 0;
}

.nav {
    display: flex;
    height: 100%;
    align-items: center;
    
}

.logo {
    text-transform: uppercase;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--big-font);
    width: 20%;
}

.nav_left {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.search_form  {
    position: relative;
    width: 80%;

}


.search_form input[type=search] {
    padding: 8px;
    outline: none;
    padding-left: 30px;
    border-radius: 7px;
    font-size: var(--big-font);
    border: none;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    width: 80%;
}

.search_icon {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1rem;
}

.btn {
    background: var(--primary-color);
    color:var(--text-primary-color);
    cursor: pointer;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    padding: 7px;
}

.account_cart {
    display: flex;
    align-items: center;
    font-size: var(--small-font-size);
   
}

.user {
    background: var(--light-bg);
    cursor: pointer;
    position: relative;
}

.dropdown {
    position: absolute;
    top: 35px;
    min-width: 200px;
    left: -30%;
    background: var(--text-primary-color);
    min-height: 100px;
    border-radius: 5px;
    padding: 10px;
}

.dropdown ul {
    padding: 0;
    list-style: none;
}

.dropdown ul li {
    padding: 10px;
}
.toparrow {
    position: absolute;
    top: -10%;
    left: 20%;
    font-size: 20px;
    z-index: 10;
}
@media screen and (max-width: 768px) {
    .nav_left {
        justify-content: space-between;
    }
    .logo {
       font-size: var(--small-font-size);
    }   
    .search_form {
       width: 80%;
    }
    .search_form input[type=search] {
       padding: 3px;
       outline: none;
       padding: 5px;
       padding-left: 30px;
       border-radius: 7px;
       font-size: var(--small-font-size);
       border: none;
       border: 0.5px solid rgba(0, 0, 0, 0.5);  
       width: 100%;
       margin-right: 5px;

   }
   
    .btn {
       display: none;
    }
    .hide {
        display: none;
    }

    .user {
        display: none;
    }
   }