.side_bar {
    flex: 1;
    font-size:var(--small-font-size);
    background: white;
    border: var(--border);  
    position: sticky;
    top: 70px;
}

.side_bar ul {
    list-style: none;
    padding: 0;
    border-bottom: var(--border);
}

.side_bar ul li {
    padding: 10px;
}

.side_bar ul li a {
    display: flex;
    align-items: center;
}

.side_bar ul li.active {
    background: #f6f5f5;
    font-weight: 600;
}

.side_bar ul li i {
    font-size: 20px;
    padding-right: 10px;
    position: relative;
}

.side_bar ul li .notification {
    position: absolute;
    right: 0;
    top: -5px;
    height: 15px;
    width: 15px;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--text-primary-color);
    font-size: xx-small;
}

