.sub_bar {
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    margin: 10px auto;
}

.sell_btn_link a{
    text-decoration: none;
    color: var(--primary-color);
}

.sell_btn_link a:hover {
    text-decoration: underline;
}