* {
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: rgb(228, 147, 24);
  --secondary-color: rgb(18, 18, 184);
  --text-primary-color: white;
  --container-width: 1200px;
  --box-shadow: 0px 0px 7px 1px rgba(120, 112, 112, 0.75);
  --header-height: 70px;
  --big-font: 1rem;
  --light-bg: rgb(249, 247, 247);
  --small-font-size: 12px;
  --border: 1px solid #ededed;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--primary-color);
  transition: 0.3s;
}
html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title {
  margin-bottom: 15px;;
  color:rgba(120, 112, 112, 0.75);
}

body {
  background: var(--light-bg);
}

.container {
  max-width: var(--container-width);
  margin: 0 auto 2em auto;
  padding: 10px;
}

.container_section {
  background: var(--text-primary-color);
  border-radius: 10px;
}

.container_title {
  margin-bottom: 1rem;
}

.btn_block {
  padding: 20px 20px;
  background: var(--primary-color);
  color: white;
  border-radius: 5px;
  z-index: 99;
  box-shadow: 0px 0px 15px -10px var(--light-bg);
}

.btn_block:hover {
  color: white;
}